/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
    text-align: center;
    box-shadow: none;
}

/* Container Principal */
.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
}

/* Botões */
.btn {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s;
}

.btn-primary { background: #007bff; color: white; }
.btn-primary:hover { background: #0056b3; }

.btn-secondary { background: #ffc107; color: black; }
.btn-secondary:hover { background: #e0a800; }

.btn-success { background: #19be00; color: white; }
.btn-success:hover { background: #0f8200; }

.btn-warning { background: #17b9ff; color: white; }
.btn-warning:hover { background: #0267d4; }

.btn-danger { background: #ff1414; color: white; }
.btn-danger:hover { background: #a60101; }

/* Cards de Jogos */
.card {
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
    text-align: left;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}
